/*
        desktop
*/

div.container {
	margin: 2em auto;
	width: 940px;
    overflow: hidden;
}

div.logo-nav
{
	float: left;
	width: 228px;
	margin: 0 10px;
}

    div.logo-nav h1
    {
        color: #777;
        font-size: 250%;
        font-weight: normal;
        font-family: verdana;
    }

    div.logo-nav h1 em
    {
        font-weight: bold;
    }

div.toc
{
	float: left;
	width: 660px;
}

    div.toc ul li
    {
        display: block;
        float: left;
        height: 200px;
        width: 200px;
        padding: 10px;
        overflow: hidden;
    }

    div.toc ul li a {
        display: block;
        float: left;
        height: 100%;
        width: 90%;
        padding: 12px 16px;
        color: black;
        text-decoration: none;
        font-size: 170%;
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        background-color: white;
        background-repeat: no-repeat;
        background-position: 50% 60%;
    }

/*
        ipad
*/

@media (max-width: 768px)
{
    div.container {
        max-width: 768px;
    }

    div.logo-nav
    {
        margin: 0 5px;
        width: 175px;
    }

        div.logo-nav h1
        {
            font-size: 180%;
        }

    div.toc
    {
        max-width: 580px;
    }

        div.toc ul li
        {
            height: 160px;
            width: 160px;
            padding: 8px;
            overflow: hidden;
        }

        div.toc ul li a
        {
            padding: 10px 12px;
            font-size: 130%;
        }
}

/*
        iphone landscape
*/

@media (max-width: 480px)
{
    div.container {
        max-width: 480px;
    }

    div.logo-nav h1
    {
        font-size: 140%;
    }

    div.toc ul li
    {
        height: 80px;
        width: 140px;
        padding: 8px;
        overflow: hidden;
    }

    div.toc ul li a
    {
        padding: 7px 8px;
        font-size: 100%;
    }
}



/*
        iphone portrait
*/

@media (max-width: 320px)
{
    div.container {
        max-width: 320px;
    }
}
