/*
  low end devices 
*/

div.logo-nav
{
  float: left;
  margin: 8px 10px;
}

div.container
{
  max-width: 240px;
}
div.logo-nav h1
{
  height: 50px;
  width: 200px;
  color: #777;
  font-size: 150%;
  font-weight: normal;
  font-family: verdana;
}
div.toc
{
  float: left;
  min-width: 150px;
  max-width: 240px;
}

div.toc ul li
{
   height: 40px;
   width: 200px;
   padding: 5px;
   overflow: hidden;
}
div.toc ul li a
{
   width: 180px;
   padding: 5px;
   font-size: 100%;
}


