<div id="{{mojit_view_id}}">
    <h3>Testing mp.destroyChild</h3>
    <label for="event">Event</label>
    <input id="event" value="notify"/><br />
    <label for="message">Message</label>
    <input id="message" value="hello"/><br />
    <label for="child">Target Child</label>
    <input id="child" value="devil"/><br /><br />
    <button id="sendbutton">Send</button>


    <h2>devil</h2>
    {{{devil}}}
    <h2>socks</h2>
    {{{socks}}}

    <hr/>

    <h2>jeans</h2>
    {{{jeans}}}
    <h2>jay</h2>
    {{{jay}}}

	<hr/>

    <h2>happy</h2>
    {{{happy}}}
    <h2>sad</h2>
    {{{sad}}}

</div>