<div id="{{mojit_view_id}}">
    <h3>Parent - Child Communication: Static children</h3>
    <label for="event">Event</label>
    <input id="event" value="notify"/><br />
    <label for="message">Message</label>
    <input id="message" value="hello"/><br />
    <label for="child">Target Child</label>
    <input id="child" value=""/><br /><br />
    <button id="sendbutton">Send</button>


    <h2 id="childdevil">devil</h2>
    {{{devil}}}
    <h2 id="childsocks">socks</h2>
    {{{socks}}}

    <hr/>

    <h2 id="childjeans">jeans</h2>
    {{{jeans}}}
    <h2 id="childdjay">jay</h2>
    {{{jay}}}

	<hr/>

    <h2 id="childhappy">happy</h2>
    {{{happy}}}
    <h2 id="childsad">sad</h2>
    {{{sad}}}

    <hr/>

    <h2 id="childgrape">grape</h2>
    {{{grape}}}

</div>