.parent {
    background-color: grey;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.purple {
    background-color: purple;
}
.green {
    background-color: green;
}