<div id="{{mojit_view_id}}" class="mojit">
<p>{{desc}}</p>
<p>*****url*****</p>
<p>unsaferaw_url:{{unsaferaw_url}}</p>
<p>stripped_url:{{stripped_url}}</p>
<p>notags_url:{{notags_url}}</p>
<p>*****path*****</p>
<p>unsaferaw_path:{{unsaferaw_path}}</p>
<p>stripped_path:{{stripped_path}}</p>
<p>*****params*****</p>
<p>fooVal:{{fooVal}}</p>
<p>unsaferaw_val:{{unsaferaw_val}}</p>
<p>stripped_val:{{stripped_val}}</p>
<p>notags_val:{{notags_val}}</p>
<p>email_val:{{email_val}}</p>
<p>unsaferaw_name:{{unsaferaw_name}}</p>
</div>

