<h1>Merged Parameters Example</h1>

<h2>POST Parameters</h2>

<p>{{desc}}</p>

<form id='postexample' action="/mergedparams?name=Hillary%20Clinton" method="POST">
    <input type="text" name="name" id="name"/><br/>
    <select name="likes" id="likes">
        <option value="pizza">pizza</option>
        <option value="ice cream">ice cream</option>
        <option value="spinach">spinach</option>
        <option value="popcorn">popcorn</option>
    </select><br/>
    <input type="submit" value="Submit"/>
</form>