/* 
    Document   : main
    Created on : Apr 21, 2011, 7:44:21 PM
    Author     : allinson
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

