<div id="{{mojit_view_id}}" class="mojit">
    <div class="mod" id="blog">
        {{> widget_heading}}
        <div class="inner">
            <ul> 
            {{#each results}}
                <li>
                    {{{linker title link}}} 
                        <span class="desc" title="AUTHOR: [ {{creator}} ] DESC: {{description}} DATE: ( {{pubDate}} )">{{description}}</span>
                </li>
          {{else}}
               <li class="none">Sorry, no results were returned. Try refreshing the page again.</li>
          {{/each}}
          </ul>
        </div>
    </div>
</div>
