/* line 17, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.sass */
body, textarea {
  background: #272822;
  color: #f8f8f2;
  overflow: hidden;
}

/* line 19, ../sass/screen.sass */
body {
  font-family: monospace;
  font-size: 18px;
  line-height: 20px;
}

/* line 24, ../sass/screen.sass */
a {
  color: #ae81ff;
  text-decoration: none;
}
/* line 28, ../sass/screen.sass */
a:hover {
  text-decoration: underline;
}

/* line 31, ../sass/screen.sass */
hr {
  border-color: #444444;
}

/* line 34, ../sass/screen.sass */
p {
  margin: 20px 0;
}

/* line 37, ../sass/screen.sass */
h1 {
  font-size: 36px;
  line-height: 36px;
  color: #66d9ef;
  margin-bottom: 18px;
}

/* line 43, ../sass/screen.sass */
h2 {
  font-weight: bold;
  margin-bottom: 8px;
}

/* line 47, ../sass/screen.sass */
#container {
  overflow-y: scroll;
  padding: 5px;
}

/* line 51, ../sass/screen.sass */
#shell {
  font-family: monospace;
  float: left;
  width: 100%;
}
/* line 56, ../sass/screen.sass */
#shell .prompt {
  color: #66d9ef;
}
/* line 59, ../sass/screen.sass */
#shell .prompt, #shell #output .response span {
  margin-right: 5px;
  display: inline-block;
}
/* line 63, ../sass/screen.sass */
#shell p {
  margin: 0;
}
/* line 67, ../sass/screen.sass */
#shell #output .session {
  color: #e6db74;
}
/* line 69, ../sass/screen.sass */
#shell #output .error .value {
  color: #f92672;
}
/* line 71, ../sass/screen.sass */
#shell #output .value-prompt {
  color: #ae81ff;
  padding-right: 5px;
}
/* line 74, ../sass/screen.sass */
#shell #output .command {
  color: #f8f8f2;
}
/* line 76, ../sass/screen.sass */
#shell #output .response {
  clear: left;
}
/* line 78, ../sass/screen.sass */
#shell #output .source {
  margin-left: 28px;
  min-height: 21px;
}
/* line 81, ../sass/screen.sass */
#shell #output .prompt {
  display: block;
  float: left;
}
/* line 86, ../sass/screen.sass */
#shell #command .prompt, #shell #command textarea {
  line-height: 20px;
  height: 21px;
}
/* line 89, ../sass/screen.sass */
#shell #command .prompt {
  float: left;
}
/* line 91, ../sass/screen.sass */
#shell #command textarea {
  border: none;
  padding: 0;
  width: 90%;
  margin-left: 5px;
}
/* line 97, ../sass/screen.sass */
#shell #command textarea:focus {
  outline: none;
}

/* line 100, ../sass/screen.sass */
#welcome {
  display: none;
  padding: 20px;
}
/* line 104, ../sass/screen.sass */
#welcome #resources, #welcome #keyboard {
  font-size: 0.9em;
  float: left;
}
/* line 108, ../sass/screen.sass */
#welcome #resources {
  width: 225px;
}
/* line 110, ../sass/screen.sass */
#welcome #resources ul {
  margin: 3px 0;
  list-style-type: disc;
}
/* line 113, ../sass/screen.sass */
#welcome #resources ul li {
  margin: 4px 0 4px 20px;
}
/* line 116, ../sass/screen.sass */
#welcome #keyboard {
  padding-right: 10px;
  width: 272px;
}
/* line 119, ../sass/screen.sass */
#welcome #keyboard li {
  margin: 4px 0;
}
/* line 122, ../sass/screen.sass */
#welcome #keyboard span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  background: #444444;
  padding: 2px;
  border-radius: 3px;
  border: solid 2px #555555;
}
/* line 129, ../sass/screen.sass */
#welcome #action {
  clear: left;
  padding-top: 16px;
  text-align: center;
}
/* line 134, ../sass/screen.sass */
#welcome #action a {
  border: 1px solid #803aff;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #e0cffd;
  color: #333333;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #ae81ff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ae81ff), color-stop(100%, #8a49ff));
  background-image: -webkit-linear-gradient(top, #ae81ff, #8a49ff);
  background-image: -moz-linear-gradient(top, #ae81ff, #8a49ff);
  background-image: -ms-linear-gradient(top, #ae81ff, #8a49ff);
  background-image: -o-linear-gradient(top, #ae81ff, #8a49ff);
  background-image: linear-gradient(top, #ae81ff, #8a49ff);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #bb95ff;
  -webkit-background-clip: padding-box;
  font-size: 24px;
  line-height: 34px;
}
/* line 52, ../sass/bourbon/addons/_button.sass */
#welcome #action a:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #bf9efb;
  cursor: pointer;
  background-color: #9e6bfc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9e6bfc), color-stop(100%, #803aff));
  background-image: -webkit-linear-gradient(top, #9e6bfc, #803aff);
  background-image: -moz-linear-gradient(top, #9e6bfc, #803aff);
  background-image: -ms-linear-gradient(top, #9e6bfc, #803aff);
  background-image: -o-linear-gradient(top, #9e6bfc, #803aff);
  background-image: linear-gradient(top, #9e6bfc, #803aff);
}
/* line 63, ../sass/bourbon/addons/_button.sass */
#welcome #action a:active:not(:disabled) {
  border: 1px solid #803aff;
  box-shadow: inset 0 0 8px 4px #762aff, inset 0 0 8px 4px #762aff, 0 1px 1px 0 #eeeeee;
}
/* line 20, ../sass/bourbon/addons/_button.sass */
#welcome #action a:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 139, ../sass/screen.sass */
#welcome #attribution {
  clear: both;
  font-size: 11px;
  padding-top: 15px;
  text-align: center;
  opacity: 0.5;
}

/* line 146, ../sass/screen.sass */
#editor {
  margin-left: 28px;
}

/* line 149, ../sass/screen.sass */
#editor, .editor {
  position: relative !important;
  font-family: monospace !important;
  font-size: inherit !important;
  line-height: inherit;
  height: 21px;
  resize: none;
  width: 90%;
}
/* line 158, ../sass/screen.sass */
#editor .ace_sb, .editor .ace_sb {
  overflow-y: hidden !important;
}
/* line 160, ../sass/screen.sass */
#editor .ace_scroller, .editor .ace_scroller {
  position: static;
  overflow-x: hidden !important;
}
/* line 163, ../sass/screen.sass */
#editor .ace_cursor, .editor .ace_cursor {
  border-left: solid 2px white;
  opacity: 1;
}

/* line 168, ../sass/screen.sass */
.source.editor .ace_cursor, .source.editor .ace_cursor_layer {
  display: none;
}

/* line 173, ../sass/screen.sass */
#fork-me img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 10;
}

/* line 180, ../sass/screen.sass */
#basic-modal-content {
  display: none;
}

/* line 183, ../sass/screen.sass */
#simplemodal-overlay {
  background-color: black;
}

/* line 186, ../sass/screen.sass */
#simplemodal-container {
  font-family: sans-serif;
  height: 512px;
  width: 565px;
  color: #e6e6d1;
  background-color: #272822;
  border: 8px solid #444444;
  padding: 12px;
}

/* line 195, ../sass/screen.sass */
#simplemodal-container code {
  background: #141414;
  border-left: 3px solid #65b43d;
  display: block;
  font-size: 12px;
  margin-bottom: 12px;
  padding: 4px 6px 6px;
}

/* line 203, ../sass/screen.sass */
#simplemodal-container a.modalCloseImg {
  background: url(../images/x.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -15px;
  right: -16px;
  cursor: pointer;
}

/* line 214, ../sass/screen.sass */
#simplemodal-container h3 {
  color: #84b8d9;
}
