<div id="{{mojit_view_id}}" class="mojit">
    <div class="mod" id="twitter">
        <h3>
            <strong>{{title}}</strong>
            <a title="minimize module" class="min" href="#">-</a>
            <a title="close module" class="close" href="#">x</a>
        </h3>
        <div class="inner">
            <ul>
                {{#results}}
                    <li>User: {{from_user}} - <span>{{text}}</span></li>
                {{/results}}
            </ul>
        </div>
    </div>
</div>
