<div id="{{mojit_view_id}}" class="mojit">
  <div>
    <p>This is the default page that is visible on the root path.</p>
    <p>The purpose of this demo is to show that as a developer, you don't have to remember any custom        routing path you specify in routes.yaml configuration file.</p>
    <p>All you need is the mojit identifier (e.g. mymojit), and the action that you are calling on the mojit (e.g. contactus). See the mojits/GenerateURL/controller.server.js for more details.            </p>
  </div>
  <div style="text-align: center; background-color: #0776A0">
    <p>Click <a href="{{contactus_url}}">here</a> on how to Contact Us.</p>
  </div>
</div>
