<div id="{{mojit_view_id}}" class="mojit">
    <div class="mod" id="github">
        {{> widget_refresh_heading}}
        <div class="inner">
            <ul>
            {{#each results}}
                <li><a href="http://github.com/{{username}}">{{username}}</a> - <a href="{{link}}">{{message}}</a></li>
            {{else}}
                <li class="none">Sorry, no results were returned. Try refreshing the page again.</li> 
            {{/each}}
            </ul>
        </div>
    </div>
</div>
