<div id="{{mojit_view_id}}">
<h3>ACMojit</h3>
<ul>
<li>acMojit: 
	<select id="testcase">
	  <option value="done1">done1</option>
	  <option value="done2">done2</option>
	  <option value="done3">done3</option>
	  <option value="done4">done4</option>
	  <option value="done5">done5</option>
	  <option value="done6">done6</option>
	  <option value="done7">done7</option>
	  <option value="done8">done8</option>
	  <option value="done9">done9</option>
	  <option value="done10">done10</option>
	  <option value="noparam">noparam</option>
	</select>
	<input type="button" id="acMojitButton" value="acMojit"/>
</li>
</ul>
</div>
