<div id="{{mojit_view_id}}">
    <div class="container">

		<div class="top">
			<a href="index.html"><span id="titlesports">Sports</span></a>
		</div>

		<div class="header"></div>

		<div class="main">

			<div class="item">

				<div class="date">
					<div>OCT</div>
					<span>01</span>
				</div>

				<div class="content">

					<h1>First Part</h1>

					<div class="body">

						<p>Sue Barker, Great Britain - Barker won the French Open in 1976, beating Renata Tomanova 6-2, 0-6, 6-2. Starting in the round of 16 Barker had to go three sets in each match for the win. Barker was able to win, in part, because many of the top players were absent from the French in 1976. Among others, Chris Evert, Billie Jean King, Virginia Wade and Martina Navratilova were all<a href="index.html">absent from the draw</a> in 1976.Sue Barker, Great Britain - Barker won the French Open in 1976, beating Renata Tomanova 6-2, 0-6, 6-2. Starting in the round of 16 Barker had to go three sets in each match for the win. Barker was able to win, in part, because many of the top players were absent from the French in 1976. Among others, Chris Evert, Billie Jean King, Virginia Wade and Martina Navratilova were all<a href="index.html">absent from the draw</a> in 1976.</p>

						<blockquote>
						  <p>Anastasia Myskina, Russia - After first beating Jennifer Capriati in the semis, Myskina beat Elena Dementieva 6-1, 6-2 to take the crown in 2004. Myskina reached as high as #2 in the singles rankings, but her win in Paris was the only time she made it past the quarterfinals at a Grand Slam tournament. Anastasia Myskina, Russia - After first beating Jennifer Capriati in the semis, Myskina beat Elena Dementieva 6-1, 6-2 to take the crown in 2004. Myskina reached as high as #2 in the singles rankings, but her win in Paris was the only time she made it past the quarterfinals at a Grand Slam tournament. </p>
					  </blockquote>

						<p>Ana Ivanovic, Serbia - Ivanovic took the title in 2008, beating Dinara Safina of Russia in the final in three sets. Much was expected of Ivanovic after her victory at the French. She took over the #1 ranking with the win, but she has never been able to get back to that level of play. Since her win at the French, she has not made it past the <a href="index.html">4th round </a>in a Grand Slam tournament. Ana Ivanovic, Serbia - Ivanovic took the title in 2008, beating Dinara Safina of Russia in the final in three sets. Much was expected of Ivanovic after her victory at the French. She took over the #1 ranking with the win, but she has never been able to get back to that level of play. Since her win at the French, she has not made it past the <a href="index.html">4th round </a>in a Grand Slam tournament.
						</p>

					</div>

				</div>

			</div>

			<div class="item">

				<div class="date">
					<div>Nov</div>
					<span>30</span>
				</div>

				<div class="content">

					<h1>Second Part</h1>

					<div class="body">

						<p>Fransesca Schiavone, Italy - Playing Australia's Sam Stosur, with both women appearing in their first Grand Slam finals, Schiavone prevailed 6-4, 7-6. Schiavone made a repeat trip to the final the following year but was unable to defend her title. Those two finals aside, Schiavone has not made it past the quarterfinals at any other Grand Slam events. Fransesca Schiavone, Italy - Playing Australia's Sam Stosur, with both women appearing in their first Grand Slam finals, Schiavone prevailed 6-4, 7-6. Schiavone made a repeat trip to the final the following year but was unable to defend her title. Those two finals aside, Schiavone has not made it past the quarterfinals at any other Grand Slam events.</p>

						<ul>
							<li>1st round</li>
							<li>2nd round</li>
							<li>3rd round</li>
						</ul>

						<p>Li Na, China - Li Na may have opened the door to tennis for millions of Chinese girls with her win at the French Open last year. She became the first Grand Slam champion from China, male or female, when she beat defending champ Fransesca Schiavone by the same score as the previous year's final, 6-4, 7-6. Her trips to the finals at the Australian and French Opens in 2011 are the only Grand Slam finals she has reached. Li Na, China - Li Na may have opened the door to tennis for millions of Chinese girls with her win at the French Open last year. She became the first Grand Slam champion from China, male or female, when she beat defending champ Fransesca Schiavone by the same score as the previous year's final, 6-4, 7-6. Her trips to the finals at the Australian and French Opens in 2011 are the only Grand Slam finals she has reached. </p>

					</div>

				</div>

			</div>

		</div>

		<div class="navigation">

			<h1>Something</h1>
			<ul>
				<li><a href="index.html">Basketball</a></li>
				<li><a href="index.html">Basebal</a></li>
				<li><a href="index.html">soccer</a></li>
				<li><a href="index.html">tennis</a></li>
			</ul>

			<h1>Another thing</h1>
			<ul>
				<li><a href="index.html">Dance</a></li>
				<li><a href="index.html">Sing</a></li>
				<li><a href="index.html">Ballet</a></li>
				<li><a href="index.html">Opera</a></li>
			</ul>

			<h1>Third and last</h1>
			<ul>
				<li><a href="index.html">Piano</a></li>
				<li><a href="index.html">Violin</a></li>
				<li><a href="index.html">Cello</a></li>
				<li><a href="index.html">Viola</a></li>
			</ul>

		</div>

		<div class="clearer"><span></span></div>

		<div class="footer">&copy; Test <a href="http://jigsaw.w3.org/css-validator/check/referer">Server</a> &amp; <a href="http://validator.w3.org/check?uri=referer">Crash</a></div>

	</div>
</div>
