<div id="{{mojit_view_id}}" class="mojit">
    <div class="mod" id="youtube">
        {{> widget_heading}}
        <div class="inner">
            <ul>
            {{#each results}}
                <li>
                    <div>{{#title}}{{content}}{{/title}}</div>
                    <iframe
                        class="youtube-player"
                        type="text/html"
                        width="320"
                        height="130"
                        src="http://www.youtube.com/embed/{{id}}?html5=1" allowfullscreen frameborder="0">
                    </iframe>
                </li>
            {{else}} 
                <li class="none">Sorry, no results were returned. Try refreshing the page again.</li> 
            {{/each}}
             </ul>
        </div>
    </div>
</div>
