<div id="{{mojit_view_id}}">
    <h1>Parent - Child Communication: Overview</h1>

    <p>This example Mojito application shows how mojits on the client can communicate directly from parent to child without broadcasting the message downward to all children. The first example shows how a static children configuration can be used to identify a child by <em>slot</em>. The second example shows how you might choose a child to broadcast a message to if a composite mojit's children were dynamically created.</em></p>

    <ul>
        <li><a href="/static">Static</a></li>
        <li><a href="/dyno">Dynamic</a></li>
    </ul>

</div>