<h1>Input Parameters Testing</h1>

<h2>POST Parameters</h2>

<p>{{desc}}</p>

<form id='posttest' action="/PostParams/postParams" method="POST">
    <input type="text" name="name" id="name"/><br/>
    <select name="likes" id="likes">
        <option value="pizza">pizza</option>
        <option value="ice cream">ice cream</option>
        <option value="spinach">spinach</option>
        <option value="popcorn">popcorn</option>
    </select><br/>
    <input id="submitbutton" type="submit" value="Submit"/>
</form>

<p>{{desc1}}</p>

<form id='posttest1' action="/PostParams/postParamsTest" method="POST">
    <input type="text" name="name1" id="name1"/><br/>
    <select name="likes1" id="likes1">
        <option value="game">game</option>
        <option value="drawing">drawing</option>
        <option value="singing">singing</option>
        <option value="dancing">dancing</option>
    </select><br/>
    <input id="submit1button" type="submit" value="Submit"/>
</form>

<p>{{desc2}}</p>

<form id='posttestsimple' action="/PostParams/postParamsSimple" method="POST">
    <input type="text" name="nameSimple" id="nameSimple"/><br/>
    <select name="likesSimple" id="likesSimple">
        <option value="pizza">pizza</option>
        <option value="ice cream">ice cream</option>
        <option value="spinach">spinach</option>
        <option value="popcorn">popcorn</option>
    </select><br/>
    <input id="submitsimplebutton" type="submit" value="Submit"/>
</form>

