<div id="{{mojit_view_id}}" class="mojit">
    <div class="mod" id="github">
        <h3>
            <strong>{{title}}</strong>
            <a title="refresh module" class="refresh" href="#">⟲</a>
            <a title="minimize module" class="min" href="#">-</a>
            <a title="close module" class="close" href="#">x</a>
        </h3>
        <div class="inner">
            <ul>
            {{#results}}
                <li><a href="http://github.com/{{username}}">{{username}}</a> - <a href="{{link}}">{{message}}</a></li>
            {{/results}}
            </ul>
        </div>
    </div>
</div>

