body {
    background-color: #F8F8F8;
    padding-left: 8px;
}

div {
    xborder: 1px solid red;
}

.pageLayout {
    padding-top: 30px;
}

.mymodule {
    border: 1px solid #2d2d2d;
    margin: 8px;
    padding: 16px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #DDDDDD;

    /** temp until get grids going **/
    float: left;
}

.mymodule h3 {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.myfooter {
    clear: left;
}

.bodytext {
    padding-left: 4px;
}
