<div id="{{mojit_view_id}}">
<h3>ClientCookie</h3>
<h4>How to run this test:</h4>
<p>1.Clear browser cookie: mojito-cookie-test.edu</p>
<p>2.Edit /etc/hosts:</p>
<p>--add line:127.0.0.1	mojito-cookie-test.edu</p>
<p>--comment out line:127.0.0.1	localhost</p>
<p>3.Go to: http://mojito-cookie-test.edu:4081/</p>
<p>4.Then click buttons and links for this test</p>
<ul>
<li><input type="button" id="setClientCookieButton" value="setClientCookie"/></li>
<li><input type="button" id="getClientCookieButton" value="getClientCookie"/></li>
</ul>
</div>
