<html>
  <head>
    <style type="text/css">
    h2 { 
         border-style: solid;
         border-width: 2px;
         border-color: #8BB381;
         -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
         border-radius: 10px;
         margin: 10px 0px;
         padding: 10px 0px;
         background-color: #41A317;
         text-align: center; 
         font-weight: bold;
         font-size:2.0em;
         color: #FFF; 
         width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="{{mojit_view_id}}" class="mojit">
      <h2>Android View</h2>
    </div>
  </body>
</html>
